In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Collect and preprocessing the data

In [24]:
gefcom = pd.read_csv("Data/GEFCOM_fixed.txt", sep="\s+", names = ["Date", "Hour", "Price", "System load", "Zonal load", "Day of the week"])

gefcom

<>:1: SyntaxWarning: "\s" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\s"? A raw string is also an option.
<>:1: SyntaxWarning: "\s" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\s"? A raw string is also an option.
/var/folders/kf/fpf7cl4d74g_zpz2l3v784zr0000gn/T/ipykernel_1616/616057.py:1: SyntaxWarning: "\s" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\s"? A raw string is also an option.
  gefcom = pd.read_csv("Data/GEFCOM_fixed.txt", sep="\s+", names = ["Date", "Hour", "Price", "System load", "Zonal load", "Day of the week"])

             Date  Hour   Price  System load  Zonal load  Day of the week
0      20110101.0   0.0   43.17      15187.0      5091.0              6.0
1      20110101.0   1.0   36.24      14464.0      4918.0              6.0
2      20110101.0   2.0   34.64      13940.0      4763.0              6.0
3      20110101.0   3.0   33.76      13609.0      4660.0              6.0
4      20110101.0   4.0   33.08      13391.0      4599.0              6.0
...           ...   ...     ...          ...         ...              ...
25963  20131217.0  19.0  113.92      23091.0      7167.0              2.0
25964  20131217.0  20.0  107.26      22504.0      6958.0              2.0
25965  20131217.0  21.0   89.02      21538.0      6707.0              2.0
25966  20131217.0  22.0   85.40      20025.0      6316.0              2.0
25967  20131217.0  23.0   86.13      18306.0      5812.0              2.0

[25968 rows x 6 columns]

In [25]:
# Check variables types
gefcom.dtypes

Date               float64
Hour               float64
Price              float64
System load        float64
Zonal load         float64
Day of the week    float64
dtype: object

In [28]:
gefcom["Date"] = pd.to_datetime(gefcom["Date"], format="%Y%m%d").dt.date

In [29]:
gefcom

             Date  Hour   Price  System load  Zonal load  Day of the week
0      2011-01-01   0.0   43.17      15187.0      5091.0              6.0
1      2011-01-01   1.0   36.24      14464.0      4918.0              6.0
2      2011-01-01   2.0   34.64      13940.0      4763.0              6.0
3      2011-01-01   3.0   33.76      13609.0      4660.0              6.0
4      2011-01-01   4.0   33.08      13391.0      4599.0              6.0
...           ...   ...     ...          ...         ...              ...
25963  2013-12-17  19.0  113.92      23091.0      7167.0              2.0
25964  2013-12-17  20.0  107.26      22504.0      6958.0              2.0
25965  2013-12-17  21.0   89.02      21538.0      6707.0              2.0
25966  2013-12-17  22.0   85.40      20025.0      6316.0              2.0
25967  2013-12-17  23.0   86.13      18306.0      5812.0              2.0

[25968 rows x 6 columns]

In [30]:
gefcom.describe()

              Hour         Price   System load    Zonal load  Day of the week
count  25968.00000  25968.000000  25968.000000  25968.000000     25968.000000
mean      11.50000     48.190072  18165.881200   6105.779767         4.000000
std        6.92232     26.179381   3453.664269   1309.476852         2.002348
min        0.00000     12.520000  11544.000000   3395.000000         1.000000
25%        5.75000     33.470000  15620.000000   5131.000000         2.000000
50%       11.50000     42.870000  18069.000000   6076.000000         4.000000
75%       17.25000     54.300000  19858.250000   6714.000000         6.000000
max       23.00000    363.800000  33449.000000  11441.000000         7.000000